@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
body {
  text-align: center;
  font-family: "Play", sans-serif;
}

#CardsPlateau {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#elementToFind {
  width: 100px;
  padding: 10PX;
  border-radius: 10px;
  margin: 15px auto;
  border: 5px green solid;
  font-weight: bold;
  color: red;
  font-size: 25px;
}
#elementToFind .perso {
  margin: auto;
}

.perso {
  background: url("img/sprite-perso.png");
  width: 70px;
  height: 70px;
  margin: 10px;
}
.perso.perso0 {
  background-position: 0px 0px !important;
}
.perso.perso0.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso0.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso1 {
  background-position: 83.4px 76px !important;
}
.perso.perso1.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso1.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso2 {
  background-position: 166.8px 76px !important;
}
.perso.perso2.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso2.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso3 {
  background-position: 250.2px 76px !important;
}
.perso.perso3.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso3.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso4 {
  background-position: 333.6px 76px !important;
}
.perso.perso4.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso4.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso5 {
  background-position: 417px 76px !important;
}
.perso.perso5.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso5.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso6 {
  background-position: 500.4px 76px !important;
}
.perso.perso6.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso6.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso7 {
  background-position: 583.8px 152px !important;
}
.perso.perso7.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso7.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso8 {
  background-position: 667.2px 152px !important;
}
.perso.perso8.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso8.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso9 {
  background-position: 750.6px 152px !important;
}
.perso.perso9.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso9.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso10 {
  background-position: 834px 152px !important;
}
.perso.perso10.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso10.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso11 {
  background-position: 917.4px 152px !important;
}
.perso.perso11.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso11.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso12 {
  background-position: 1000.8px 152px !important;
}
.perso.perso12.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso12.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso13 {
  background-position: 1084.2px 228px !important;
}
.perso.perso13.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso13.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso14 {
  background-position: 1167.6px 228px !important;
}
.perso.perso14.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso14.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso15 {
  background-position: 1251px 228px !important;
}
.perso.perso15.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso15.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso16 {
  background-position: 1334.4px 228px !important;
}
.perso.perso16.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso16.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso17 {
  background-position: 1417.8px 228px !important;
}
.perso.perso17.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso17.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso18 {
  background-position: 1501.2px 228px !important;
}
.perso.perso18.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso18.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso19 {
  background-position: 1584.6px 304px !important;
}
.perso.perso19.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso19.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso20 {
  background-position: 1668px 304px !important;
}
.perso.perso20.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso20.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso21 {
  background-position: 1751.4px 304px !important;
}
.perso.perso21.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso21.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso22 {
  background-position: 1834.8px 304px !important;
}
.perso.perso22.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso22.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso23 {
  background-position: 1918.2px 304px !important;
}
.perso.perso23.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso23.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}
.perso.perso24 {
  background-position: 2001.6px 304px !important;
}
.perso.perso24.hidden {
  background: url("img/interrogation.png");
  background-position: 0 0 !important;
}
.perso.perso24.hidden:hover {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 15px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.tingle-modal-box__content {
  font-size: 40px;
  color: black;
  background-color: cadetblue;
}/*# sourceMappingURL=PerfectGame.css.map */